body {
    background-color: slategray;
    background-image: url(https://cdn.wallpaperdirect.com/asset/img/product/143779/tiled/albany-grass-navy-blue-wallpaper-tiled-143779.jpg);
}
.container {
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Oswald', sans-serif;
    background-color: blue;
    padding: 20px;
    font-size: 30px;
    max-width: 1000px;
}
#startQuiz {
    background-color: blue;
    margin: 50px;
    font-size: 50px;
}
#para {
    font-size: 20px;
}
#questions {
    margin: 20px;
}
#timeEl {
    float: right;
}
li {
    background-color: blue;
    margin-top: 10px;
    font-size: 20px;
    color: white;
    
}
h1 {
    text-align: center;
}
input {
    margin: 30px;
    border: 5px solid blue;
}
label {
    margin-right: 10px;
}
#back {
    background-color: slategray;
    position: relative;
    font-size: 20px;
    color: white;
    text-align: center;
}
#clear {
    background-color: slategray;
    position: relative;
    font-size: 20px;
    color: white;
    text-align: center;
}
button {
    border-radius: 5px;
}
textarea {
    width: 90%;
    margin: 20px;
}
#divEl {
    margin: 20px;
    border: 1px solid blue;
}
#high {
    border: 2px solid blue;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    padding: 5px;
}
#submit {
    background-color: slategray;
    position: relative;
    font-size: 20px;
    color: white;
    text-align: center;
}
#divEl {
    text-align: center;
    border: 5px solid maroon;
}